
.App {
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.red-container{
  display: flex;
  background-color: red;
  height: 85%;
  justify-content: center;
  flex-direction: column;
}

.search-bar-container{
  background-color: green;
  height: 10%;
  width: 25%;
  display: flex;
  margin: 0 auto;
}

.blue-container {
  /* display: flex; */
  margin: 0 auto;
  background-color: aqua;
  width: 60%;
  height: 75%;
  align-content: center;
}

.blue-container img {
  height: 65%;
  width: 65%;
}